<!DOCTYPE html> <!-- Используется html 5 версии -->
<html lang="ru">
    <!-- Язык сайта - русский -->
    {% extends "base.html" %}
    {% block title %}
        About author of project
    {% endblock title %}
    {% block content %}
        <h1>Hi, I am author</h1>
        <p>My name is Daniel Zharikov
            Now I am learning at MASA programm in Israel. I am learning JS, HTML and CSS.
            Also I am learning at YandexPracticum. Here I am learning backend development
        </p>
        <br>
        <p>
            My hobbies is making photos, coking. Also I am working as a teacher of Hebrew now
            <a href="https://github.com/DanikKravets" target="_blank"> My GitHub</a>
        </p>
    {% endblock content %}
</html>
